ADMIN_PASSWORD=admin123
NEXT_PUBLIC_EMAIL=fachransandi@gmail.com
NEXT_PUBLIC_GITHUB=https://github.com/tiedsandi
NEXT_PUBLIC_LINKEDIN=https://www.linkedin.com/in/fachransandi/
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxx