@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Color Variables */
:root {
  --primary-color: #333;
  --secondary-color: #201e1f;
  --background-color: #f8f7f9;
  --background-color-secondary: #ffbf76;

  --text-color: #111827;
  --border-color: #201e1f1e;

  --radius: 0.5rem;
}

body {
  color: var(--text-color);
  background: var(--background-color);
  font-family: var(--font-body), system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

body {
  @apply text-base antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .fade-in-up {
    @apply translate-y-4 opacity-0 animate-fadeInUp;
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeInUp {
    animation: fadeInUp 0.6s ease-out forwards;
  }
}